<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
     <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:windowSoftInputMode="stateHidden"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindingNemo">
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService"
            tools:node="merge">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver,Instantiatable" />


        <service
            android:name=".geofencing.GeofenceLocationService"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name=".geofencing.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedReceiver" />

        <activity android:name=".circleActivities.MyNavigationActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLKgsn7Pk0yYYBdDnKJPVGcFG0GLKgHSc" />

        <activity
            android:name=".circleActivities.JoinGroupActivity"
            android:exported="false" />

        <activity
            android:name=".circleActivities.MyGroupActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />

        <activity
            android:name=".googleMaps.MapsActivity2"
            android:windowSoftInputMode="stateHidden"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_image" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/teal_700" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".generalActivities.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        <activity
            android:name=".generalActivities.ProfileActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        <activity
            android:name=".generalActivities.SplashActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>